.laBarChart{
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 50px;

    #titreBarchart{
        position: absolute;
        top: 15px;
        left: 15px;
    }

    &__chartContainer{
        padding-top: 20px;
        padding-left: 20px;
    }
}

.lesLegendes{
    display: flex;
    position: absolute;
    top: -280px;
    right: 10px;
}

.legende{
    width: 180px;
    display: flex;
    flex-flow: row nowrap;

    &__cercle{
        width: 10px;
        height: 10px;
        align-self: center;
        margin-top: 3px;
        margin-right: 10px;
        border-radius: 10px;
        padding-top: 0;

        &--kilogramme{
            background-color: #E60000;
        }

        &--calorie{
            background-color: #282D30;
        }
    }
}

.custom-tooltip{
    background-color: #E60000;
    color: white;
    padding: 10px;
}

